<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NYC Restaurant Health Ratings</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <header class="navbar-brand"></header>

        <div class="flex-container">
            <div id="searchEngine">
                <h1>NYC Restaurant Health Ratings</h1>
                <input type="text" id="searchInput" placeholder="Search for a restaurant...">
                <button onclick="searchRestaurants()">Search</button>
            </div>
            <div id="rank"></div>
        </div>

    <div class="content-container">
        <div id="results"></div>
    </div>
    

    <!-- get data from app.py in javascript file -->
    <!-- getData() works only in html file since js does not have access to Flask data -->
    <script type="text/javascript" {{ url_for('static', filename='/static/js/script.js')}}></script>
        <script type="text/javascript">
            mockData = getData({{data|tojson}})
    </script>
</body>

</html>