<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NYC Restaurant Health Ratings</title>
    <link rel="stylesheet" href="/static/css/global.css" />
</head>

<body>
    <header class="navbar-brand"></header>

    <div class="main">
        <h1>NYC Restaurant Health Ratings</h1>
        <input type="text" id="searchInput" placeholder="Search for a restaurant...">
        <button onclick="searchRestaurants()">Search</button>
    </div>

    <div id="results">
    </div>
    <!-- the restaurtants' info from python app will be put here -->
    {% block content %}

    {% endblock content %}
</body>
<script src="/static/js/script.js"></script>

</html>